<script type="text/javascript">
    $(document).ready(() => {
        $(".languages").on('click', event => {
            $("#showLanguages").toggle();
        });

        $("#showLanguages").on('mouseleave', event => {
            $("#showLanguages").toggle();
        });

        $("#login").on('click', event => {
            $("#loginForm").toggle();
        });

        $("#loginForm").on('mouseleave', event => {
            $("#loginForm").toggle();
        });
    });
</script>
</body>

</html>